<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOme page</title>
    
</head>
<body>
    <h2>This is my ejs page templetes</h2>
    <h2><%= " hello".toUpperCase();%></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod unde doloribus rem laboriosam maiores dignissimos labore asperiores ratione nostrum impedit fuga officiis voluptatem eveniet blanditiis, ullam dolorem aut, assumenda qui.</p>
    <button>click me</button>
</body>
</html>