*{
    font-family: 'Courier New', Courier, monospace;
}
#myId p{
    color: green;
}
p a{
    color: purple;
    background-color: yellow;
}

p + h3 {
    text-decoration: underline;
}
.upvote + button{
    background-color: rgb(93, 219, 141);
}  
div > input{
    background-color: rgb(178, 145, 145);
}
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: rgb(64, 255, 0);
}